<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Poppins" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link  href='/src/app/comments/comments.component.css'  >
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="scroll-down">DÉFILER VERS LE BAS
  <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
    <path d="M16 3C8.832031 3 3 8.832031 3 16s5.832031 13 13 13 13-5.832031 13-13S23.167969 3 16 3zm0 2c6.085938 0 11 4.914063 11 11 0 6.085938-4.914062 11-11 11-6.085937 0-11-4.914062-11-11C5 9.914063 9.914063 5 16 5zm-1 4v10.28125l-4-4-1.40625 1.4375L16 23.125l6.40625-6.40625L21 15.28125l-4 4V9z"/>
  </svg-->
  <i class='bx bx-downvote'></i>
</div>
<div class="container"></div>
<div class="modal">
  <div class="modal-container">
   
    <div class="modal-left"  [formGroup]="loginForm">
      <h1 class="modal-title">Bienvenue!</h1>
     
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="input-block">
        <label for="email" class="input-label" >Nom D'utilisateur</label>
        <input type="text" name="email" id="email" placeholder="username" formControlName="username" >
      </div>
      <div class="input-block">
        <label for="password" class="input-label">Mot De Passe</label>
        <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
      </div>
      <div class="modal-buttons">
        
        <button class="input-button" (click)="login()">Se Connecter</button>
      </div>
      
    </div>
    <div class="modal-right">
      <img src="/image/coffe.avif" alt="">
    </div>
    <button class="icon-button close-button">
     
      <i class='bx bx-x-circle'></i>
    </button>
  </div>
  <button class="modal-button">Cliquez ici pour vous connecter</button>
</div>
</body>
</html>